@import "tailwindcss";

/* This is where you can define your custom premium colors now */
@theme {
  --color-brand-dark: #1a120b;
  --color-brand-gold: #d4a373;
  --color-brand-cream: #fefae0;
  --color-brand-accent: #bc6c25;
  
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

body {
  background-color: var(--color-brand-cream);
  color: var(--color-brand-dark);
  font-family: var(--font-sans);
}